body {
	position: absolute;
	/*background-color: black;*/
	/*width: 400px;*/
	margin: auto;
	font-family: 'Inconsolata', sans-serif;
}

.title {
	position: fixed;
	font-size: 30px;
	padding: 20px;
	color: white;
	opacity: 0.6;
}
a:link, a:visited{
	text-decoration: none;
	color: yellow;
}

a:hover{
	color: red;
}

img {
	position: absolute;
	opacity: 0.8;
	max-width: 100%;
	z-index: 1;
}
.credits {
	position: absolute;
	right: 50px;
	bottom: 40px;
	font-size: 12px;
	color: white;
	opacity: 0.6;
}

.credits:hover, .title:hover {
	opacity: 1.0;
	background: black;
	color: pink;
	/*padding: 5px;*/

}
